html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    color: #333366;
    text-align: center;
}
h2 {
    text-align: center;
    color: #006097;
} 

h3 {
    color: #0F1421;
    
}

h4 {
    
}

#content {
    margin: 50px;
}